<div class="p-5 w-100 flex justify-center">
  <div>
    <h1 class="text-4xl text-blue-500 text-center font-bold">
      Were Welcomes
    </h1>
    <div class="w-full">
      <img src="public/images/edireira.jpg" alt="edinaldo pereira">
    </div>
</div>
