<div class="w-full mt-10">
  <div class="flex">
    <div class="w-full">
      <div class="text-center">
        <p>
          ©
          {{year}}
          {{siteName}}
          . All rights reserved.
        </p>
      </div>
    </div>
  </div>
</div>